:root {
    --primary: #18f273;
    --backgroud-gray:#f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--backgroud-gray);
}

.loginform, .signupform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 20px;
}
.smalltxt{
    font-size: 15px;
}
.form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
input{
    padding: 10px;
    font-size: 18px;
    outline: none;
    width: 30vw;
}
.btn{
    padding: 10px 15px;
    font-size: 20px;
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 5px;
}
#log, #reg{
    color: blue;
}
#log,#reg:hover{
    cursor: pointer;
}
.boxShadow{
    -webkit-box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
        -moz-box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
        box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
}
.btn:hover{
    cursor: pointer;
    transition: 0.4s ease-in;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
        -moz-box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
        box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
}
.loginform:not(.container-visisble) {
    display: none;
}
.container-visisble .signupform{
    display: none;
}
.container-visisble .loginform{
    display:flex;
}

.err{
    font-size: 14px;
    color: red;
    font-weight: 700;
}
.name,.email,.password{
    display: flex;
    flex-direction: column;
}