:root {
    --primary: #18f273;
    --sec: #018136;
    --background: #2c2a5e;
    --backgroud-gray: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroud-gray);
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.2rem 5%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0.5rem 1.5rem #0000001a;
}

nav .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary);
}



nav .navInfo .navLinks {
    color: var(--secondary);
    font-size: 1.8rem;
    padding: .5rem 1rem;
}

nav .navInfo .navLinks:hover {
    color: var(--sec);
    cursor: pointer;
    transition: 0.2s ease-in;
}

nav .navInfo .navLinks.bold {
    color: white;
    background-color: var(--sec);
    border-radius: .5rem;
}

#cart {
    font-size: 2.6rem;
}

#cart span {
    font-size: 1.5rem;
    color: var(--sec);
}




/* section {
    padding: 6rem 4%;
} */
#offer,#all-items{
    padding: 6rem 4%;
}

.container {
    position: relative;
    display: inline-flex;
    width: 120rem;
    height: 50rem;
}

.offers .container .slider {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0 2rem;
    width: 90vw;
    padding-top: 4rem;
    clip-path: polygon(0 0, 0 0, 100% 100%, 0 0);
}

.offers .container .slider.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
    transition-property: clip-path;
}

.offers .container .slider .content {
    width: 50%;
}

.offers .container .slider .img {
    width: 50%;
}

.offers .container .slider .img img {
    width: 100%;
    z-index: 1;
}

.offers .container .slider .content span {
    color: var(--sec);
    font-size: 3rem;
}

.offers .container .slider .content h3 {
    color: var(--background);
    font-size: 6rem;
}

.offers .container .slider .content p {
    color: var(--primary);
    font-size: 1.6rem;
    padding: .5rem;
    margin-bottom: 1.2rem;
}

.offers .container .slider .content .btn {
    color: white;
    background-color: var(--sec);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    border-radius: .5rem;
}

.offers .container .slider .content .btn:hover {
    background-color: var(--background);
    transition: 0.4s;
}

.container .navBtns {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.container .navBtns .navbtn {
    background-color: rgba(0, 0, 0, 0.178);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.container .navBtns .navbtn.active {
    background-color: var(--sec);
}



.headings {
    color: var(--background);
    font-size: 4rem;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    border-radius: 5px;
    margin: 10px;
}

.subHeadings {
    font-size: 3.5rem;
    text-align: center;
    margin: 20px;
    color: var(--sec);
    border-bottom: 5px solid var(--background);
}

.itemContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 20px;
    padding: 0 5%;
    margin: 5rem 0;
}

.itemContainer .products {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
}

.itemContainer .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 400px;
}

.itemContainer .products img {
    padding: 10px;
    height: 70%;
    width: 90%;
}

.itemContainer .products .prod-info {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.itemContainer .products h2 {
    color: var(--background);
    font-size: 2rem;
}


.itemContainer .products .price {
    display: flex;
    gap: 20px;
    align-items: center;
}

.itemContainer .products .price h2 {
    color: var(--sec);
    font-size: 2.4rem;
    font-weight: 600;
}

.itemContainer .products .price .addCart {
    padding: .5rem 2rem;
    color: white;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--background);
}

.itemContainer .products .price .addCart:active {
    transition: 0.4s ease-in;
}

.itemContainer .products .price .addCart:hover {
    background-color: var(--sec);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.itemContainer .products .price .incDecCart{
    font-size: 25px;
}

.cart-page {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-page{
    margin: 100px 0px;
    width: 100%;
}
.OrderDetails{
    text-align: center;
}
.orderAmt{
    border-bottom: 5px solid var(--sec);
}
.cart-heading,.order-heading {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid var(--sec);
    margin: 30px 0;
    font-size: 4rem;
}

.cart,.orderTable,.offer {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    margin: 0 auto;

}


.inc,
.dec {
    padding: 3px 5px;
    font-size: 25px;
    background-color: var(--primary);
    border-radius: 50px;
}

.inc:hover,
.dec:hover {
    background-color: var(--sec);
    transition: 0.2s ease-in;
}
.product-category.admin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete {
    color: red;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.edit{
    color:var(--sec);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
}


table {
    border-spacing: 0;
}

th {
    border: 1px solid gray;
}

th,
td {
    font-size: 20px;
    padding: 15px;
    text-align: left;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

}

.totalPrice {
    border-top: 5px solid var(--sec);
}

.cartHeader,.offerHeader {
    border-bottom: 5px solid var(--sec);
}

.order {
    text-align: center;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--sec);
    margin: 20px 10px 0 10px;
    color: white;
    font-size: 16px;
}


.order:hover {
    background-color: var(--background);
    cursor: pointer;
    transition: 0.4s;
}

.secondary {
    background-color: var(--background);
    cursor: pointer;
    transition: 0.4s ease-in;
}
.secondary:hover{
    background-color: var(--sec);
    cursor: pointer;
    transition: 0.4s;
}

.inc,
.dec {
    cursor: pointer;
}

.totalPriceVal {
    border-top: 5px solid var(--sec);
    text-align: center;
}
.orderPrice,.orderPriceVal{
    border-bottom: 5px solid var(--sec);
}
.logout {
    color: white;
    background-color: var(--sec);
    border-radius: .5rem;
    font-size: 1.8rem;
    padding: .5rem 1rem;
}

.logout:hover {
    background-color: var(--background);
    transition: 0.2s ease-in;
    cursor: pointer;
}
#order-form,#offer-form{
    padding: 20px 5px;
    margin: 0;
}
.orderForm{
    display: flex;
    justify-content: center;
    
    /* gap: 20px; */
}
.offerForm{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartSummary.empty{
    display: none;
}
.cartSummary,.allOffers{
    height: 400px;
    width: 100%;
    overflow-x: hidden;
}

.formContainer{
    /* border: 2px solid red; */
    /* width: 70vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    background-color: white;
    padding: 20px;
    -moz-box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
    box-shadow: 0px 1px 5px 1px rgba(145, 142, 145, 1);
}
.inputs{
    padding: 10px;
    font-size: 18px;
    outline: none;
    width: 400px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
}
.address{
    width: 812px;
    height: 150px;
    resize: none;
}
.errors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.err{
    color: red;
    font-size: 16px;
    font-weight: 600;
}
.inputs:focus{
    border: 1px solid var(--primary);
}
.sendMessage{
    padding: 10px 15px;
    font-size: 20px;
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sendMessage:hover{
    cursor: pointer;
    background-color: var(--sec);
    color: white;
    transition: 0.3s ease-in;
}
.topForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
}
.noOrder{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.noOrder-heading{
    font-size: 40px;
    color: var(--background);
}

#allOrders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media (min-width:240px) and (max-width:768px) {

    th,
    td {
        font-size: 14px;
        padding: 5px;
    }
}