:root {
    --primary: #18f273;
    --sec:#018136;
    --background:#2c2a5e;
    --backgroud-gray: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: var(--backgroud-gray);
}
a {
    text-decoration: none;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.2rem 5%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0.5rem 1.5rem #0000001a;
}

nav .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary);
}


nav .navInfo .navLinks {
    color: var(--secondary);
    font-size: 1.8rem;
    padding: .5rem 1rem;
}

nav .navInfo .navLinks:hover {
    color: var(--sec);
    cursor: pointer;
    transition: 0.2s ease-in;
}

nav .navInfo .navLinks.bold {
    color: white;
    background-color: var(--sec);
    border-radius: .5rem;
}

#cart{
    font-size: 2.6rem;
}
#cart span {
    font-size: 1.5rem;
    color: var(--sec);
}




section {
    padding: 6rem 4%;
}

.container {
    position: relative;
    display: inline-flex;
    width: 120rem;
    height: 50rem;
}

.offers .container .slider {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0 2rem;
    width: 90vw;
    padding-top: 4rem;
    clip-path: polygon(0 0, 0 0, 100% 100%, 0 0);
}

.offers .container .slider.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
    transition-property: clip-path;
}

.offers .container .slider .content {
    width: 50%;
}

.offers .container .slider .img {
    width: 50%;
}

.offers .container .slider .img img {
    width: 100%;
    z-index: 1;
}

.offers .container .slider .content span {
    color: var(--sec);
    font-size: 3rem;
}

.offers .container .slider .content h3 {
    color: var(--background);
    font-size: 6rem;
}

.offers .container .slider .content p {
    color: var(--primary);
    font-size: 1.6rem;
    padding: .5rem;
    margin-bottom: 1.2rem;
}

.offers .container .slider .content .btn {
    color: white;
    background-color: var(--sec);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    border-radius: .5rem;
}

.offers .container .slider .content .btn:hover {
    background-color: var(--background);
    transition: 0.4s;
}

.container .navBtns {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.container .navBtns .navbtn {
    background-color: rgba(0, 0, 0, 0.178);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.container .navBtns .navbtn.active {
    background-color: var(--sec);
}



.headings {
    color: var(--background);
    font-size: 4rem;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
        -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
        border-radius: 5px;
        margin: 10px;
}
.subHeadings{
    font-size: 3.5rem;
    text-align: center;
    margin: 20px;
    color: var(--sec);
    border-bottom: 5px solid var(--background);
}
.itemContainer {
    /* border: 2px solid red; */
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(3, 360px);
    grid-template-columns: repeat(3, 340px);
    grid-gap: 20px;
    padding: 0 5%;
    margin: 5rem 0;
}

.itemContainer .products {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
}

.itemContainer .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.itemContainer .products img {
    width: 90%;
}

.itemContainer .products h2 {
    color: var(--background);
    font-size: 2rem;
}


.itemContainer .products .price {
    display: flex;
    gap: 20px;
    align-items: center;
}

.itemContainer .products .price h2 {
    color: var(--sec);
    font-size: 2.4rem;
    font-weight: 600;
}

.itemContainer .products .price .addCart {
    padding: .5rem 2rem;
    color: white;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--background);
}

.itemContainer .products .price button:hover {
    background-color: var(--sec);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.cart-page{
    padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.cart-heading{
    width: 100%;
        text-align: center;
        border-bottom: 5px solid var(--sec);
        margin: 20px 0;
        font-size:4rem ;
}
 .cart {
     width: 80%;
     height: auto;
     background-color: white;
     box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
     -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
     -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.38);
     margin: 0 auto;
    
 }
 table{
    border-spacing: 0;
 }
th{
    border: 1px solid gray;
}
 th,
 td {
     font-size: 20px;
     padding: 15px;
     text-align: left;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

 }

 .totalPrice {
     border-top: 5px solid var(--sec);
 }

 .cartHeader {
     border-bottom: 5px solid var(--sec);
 }

 .order {
     text-align: center;
     padding: 10px 20px;
     border: none;
     outline: none;
     border-radius: 5px;
     background-color: var(--sec);
     margin: 20px 10px 0 10px;
     color: white;
     font-size: 16px;
 }


 .order:hover {
     background-color: var(--background);
     cursor: pointer;
     transition: 0.4s;
 }

 .order.darkBlue:hover {
     background-color: var(--background);
     cursor: pointer;
     transition: 0.4s ease-in;
 }

 .inc,.dec{
    cursor: pointer;
 }
.totalPriceVal{
    border-top: 5px solid var(--sec);
}

.logout{
    color: white;
    background-color: var(--sec);
    border-radius: .5rem;
    font-size: 1.8rem;
    padding: .5rem 1rem;
}
.logout:hover{
    background-color: var(--background);
    transition: 0.2s ease-in;
    cursor: pointer;
}
 @media (min-width:240px) and (max-width:768px) {

     th,
     td {
         font-size: 14px;
         padding: 5px;
     }
 }





















